<article class="post">
	<header class="post-header">
		<div class="post-title"> 
			{{ page.title | escape }}
		</div>
		<time class="post-date dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
			{%- assign date_format = site.date_forma | default: "%Y/%m/%d" -%}
			{{ page.date | date: date_format }}
		</time>		
	</header>

	<div class="post-content">
		<div class ="toc"> 
			<header>
				<h4 class="toc_title"> < 목차 > </h4>
			</header>
			{%include toc.html html=content%}
		</div>
		{{ content }}
	</div>

	
	<div id="disqus_thread"></div>
	<hr>
	댓글 남기기
	<script src="https://utteranc.es/client.js"
	repo="nanack12/nanack12.github.io"
	issue-term="pathname"
	theme="github-dark"
	crossorigin="anonymous"
	async>

</script>
</article>